<div class="wrapper">
    <div class="wrapper__box" style="background-color: #e74c3c; box-shadow: 0px 8px 15px rgba(245, 10, 10, 0.6);">
        <div class="wrapper__box__circle">
            <mat-icon style="font-size: 6rem; 
                             color: white; 
                             width: 100px; height: 100px; "
                >{{'error'}}</mat-icon>
        </div>
        <div class="wrapper__box__title" style="color: white;">
            <h4 >Sorry, something went wrong !</h4>
        </div>
    </div>
</div>