$circle-length: 151px;
$check-length: 36px;

.wrapper {
    background-color: #35297B;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    &__box {
        width: 35rem;
        height: 20rem;
        background-color: #ecf0f1;
        border-radius: .5rem;
        margin-top: 10rem;
        box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);


        &__circle {
    
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 5rem;
        }; 
    
        &__title {
    
            margin-top: 5rem;
            color: #35297B;
            text-align: center;
    
            h4 {
                font-weight: lighter;
                font-size: 1.2rem;
            }
        };
    }; 


}
@keyframes scaleAnimation {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes drawCircle {
    0% {
      stroke-dashoffset: $circle-length;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes drawCheck {
    0% {
      stroke-dashoffset: $check-length;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #successAnimationCircle {
    stroke-dasharray: $circle-length $circle-length;
    stroke:  #35297B;
  }
  
  #successAnimationCheck {
    stroke-dasharray: $check-length $check-length;
    stroke: #35297B;
  }
  
  #successAnimationResult {
    fill:  #35297B;
    opacity: 0;
  }
  
  #successAnimation.animated {
    animation: 1s ease-out 0s 1 both scaleAnimation;
    
    #successAnimationCircle {
      animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
                 0.3s linear 0.9s 1 both fadeOut;
    }
    
    #successAnimationCheck {
      animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
                 0.3s linear 0.9s 1 both fadeOut;
    }
    
    #successAnimationResult {
      animation: 0.3s linear 0.9s both fadeIn;
    }
  }
  
  #replay {
    background: rgba(255,255,255,0.2);
    border: 0;
    border-radius: 3px;
    bottom: 100px;
    color: #FFF;
    left: 50%;
    outline: 0;
    padding: 10px 30px;
    position: absolute;
    transform: translateX(-50%);
    &:active {
      background: rgba(255,255,255,0.1);
    }
  }