.login {
    height: 100%;
    background-color: #ecf0f1;

    &__navbar {
        margin-bottom: 1rem;
        display: flex; 
        justify-content: space-between;

        &__title {
            padding-left: 2rem;
        }
        &__button {
            padding-right: 2rem;
            button {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }

    &__card {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: #ecf0f1;

        &__box {

            max-width: 30rem;
            padding: 3rem;
           

            &__title {

                text-align: center;
                
                h4 {
                    font-size: 1.9rem;
                    margin: 0;
                }
            }

            &__form {
                
                &__field {
                    margin-top: 1.5rem;
                    width: 100%;

                    button {
                        font-size: 1.5rem;
                    }
                }; 

                &__button {

                    display: flex;
                    justify-content: center;
                    margin-top: 2rem;

                    button {

                        padding: .5rem 4rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }

    }
}