<div class="login">

    <mat-toolbar class="login__navbar" 
                 color = 'primary'
                 >
        <div class="login__navbar__title">
            <h4> Autoparts </h4>
        </div>

        <div class="login__navbar__button">
            <button mat-raised-button
                    color = 'accent'
                    >
                    Register
            </button>
        </div>
    </mat-toolbar>

    <div class="login__card">
        <mat-card class="login__card__box">
            <div class="login__card__box__title">
                <mat-card-title>
                    <mat-icon style="font-size: 2.5rem;">{{'person_pin'}}</mat-icon>
                    <h4>Authorize</h4>
                </mat-card-title>
            </div>
        
            <form class="login__card__box__form"
                  [formGroup]="loginForm" 
                  (ngSubmit)="onSubmit(loginForm)">
                <mat-form-field class="login__card__box__form__field">
                    <mat-label>Username</mat-label>
                    <input matInput 
                        placeholder="Username *"
                        formControlName="username"
                            >
                </mat-form-field>
            
                <mat-form-field class="login__card__box__form__field">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"
                           autocomplete="off"
                           placeholder="Password *" 
                           formControlName="password">
                    <button mat-icon-button matSuffix 
                            (click)="hide = !hide" 
                            type="button"
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="hide"
                            >
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
                <mat-card-actions class="login__card__box__form__button">
                    
                    <button *ngIf="!isLoading"
                            mat-raised-button 
                            color = 'primary'
                            type="submit"
                            >Login
                    </button>
                    
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </mat-card-actions>
            </form> 
            
        </mat-card>
    </div>
  


</div>

